/***************************************TAG SELECTORS********************************/

h1 {
  margin: 50px auto;
  font-family: "Sacramento", Times New Roman, cursive;
  font-size: 7.5rem;
  color: #66BFBF
}

h2 {
  font-family: "Benne", Open Sans, serif;
  font-size: 2rem;
  color: #66BFBF;
}

h3 {
  font-family: "Benne", Open Sans, serif;
  color: #11999E;
}

body {
  /*  background-color: #EAF6F6; */
  text-align: center;
  font-family: "Merriweather", Open Sans, serif;
  border-left-style: dotted;
  border-right-style: dotted;
  border-left-color: #9CB380;
  border-right-color: #9CB380;
  border-left-width: 6px;
  border-right-width: 6px;
  font-size: 1.5em;
  color: #40514E;
}

p {
  font-size: 1.2rem;
  width: 99%;
  line-height: 2;
}

hr {
  border-style: dotted none none none;
  border-color: #EAF6F6;
  border-width: 6px;
  width: 10%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: "Merriweather", Open Sans, serif;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

/***************************************CLASS SELECTORS********************************/
.blue1 {
  background-color: #C7E8F3;
  height: 30px;
}

.blue2 {
  background-color: #CAF0F8;
  height: 20px;
}

.blue3 {
  background-color: #DDF1F8;
  height: 10px;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
  margin: 0;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 40px;
}

.aprogrammer {
  color: #66BFBF;
  font-weight: normal;
  line-height: 2;
}

.bottom-cloud {
  position: absolute;
  left: 150px;
  bottom: 300px;
}

.mountain {
  margin-bottom: 0;
  padding-bottom: 0;
}

/*
.greendiv {
  background-color: #667761;
  height: 20px;
}*/

.middle-container {
  padding-top: 10px;
  padding-bottom: 0;
}

.karma {
  /*border-radius: 40%;*/
  margin-top: 50px;
  height: 150px;
  width: inherit;
  border-style: solid;
  border-radius: 50%;
  border-color: #990000 #FFFFC7 white #33030D;
  border-width: thin;
}

.intro {
  width: 30%;
  margin: auto;
}


.MySkills {
  padding-top: 5%;
  padding-bottom: 2%;
}

.skill-row {
  width: 50%;
  margin: auto;
  text-align: left;
  padding-bottom: 10%;
}

.comp-image {
  border-radius: 50%;
  border-style: solid;
  /*height: inherit;*/
  /*width: 25%;*/
  height: 175px;
  width: 175px;
  float: left;
  margin-right: 30px;
}

.chili-image {
  /*height: 230px;*/
/*  width: 30%;*/
height: 200px;
width: 200px;
  float: right;
  margin-left: 20px;
}

.contact-me {
  padding-top: 30px;
  width: 60%;
  margin: auto;
}

.cat-image {
  height: 20%;
  width: 20%;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
  background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
  background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
  background-image: -o-linear-gradient(top, #66BFBF, #11999E);
  background-image: -webkit-gradient(to bottom, #66BFBF, #11999E);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  color: #EAF6F6;
  font-family: "Merriweather", Open Sans, serif;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
  -webkit-box-shadow: 1px 1px 20px 0 #EAF6F6;
  -moz-box-shadow: 1px 1px 20px 0 #EAF6F6;
  box-shadow: 1px 1px 20px 0 #EAF6F6;
  text-shadow: 1px 1px 20px #EAF6F6;
  border: solid #66BFBF 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}

.btn:hover {
  border: solid #EAF6F6 1px;
  background: #2bc4ad;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -webkit-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  text-decoration: none;
}

.bottom-container {
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 50px;
  color: #11999E;
  background-color: #66BFBF;
  font-size: 1.1rem;
}

.ajff {
  color: #0f8589;
}

.endtext {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding-top: 20px;
}
